.Toolbar {
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(0.25rem);
	padding: 1rem;
	z-index: 2;

	display: flex;
	align-items: center;
	gap: 1.5rem;
}
.Toolbar > div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.Toolbar button {
	aspect-ratio: 1;
}

.author {
	position: absolute;
	bottom: 100%;
	width: 100%;
	left: 0;
	padding: 1rem;
}

a {
	color: var(--primary-color);
}
